---
Checks: '
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  llvm-*,
  google-*,
  bugprone-*,
  cert-*
  '
WarningsAsErrors: '*'
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: file
User: ''
CheckOptions:
  - key: llvm-else-after-return.WarnOnConditionVariables
    value: 'false'
  - key: readability-identifier-naming.AbstractClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.MethodCase
    value: camelBack

...
